* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(to bottom, #1f2430 0%, #1f2430 51%);
  font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI",
    "Roboto", sans-serif;
  font-size: 12px;
  height: 100vh;
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  text-transform: uppercase;
  width: 100%;
}

nav {
  display: flex;
  background-color: #1f2430;
  height: 10vh;
  width: 100%;
  border-bottom: 1px #6a8ddd solid;
}
nav > b {
  color: white;
  margin-top: 25px;
  margin-left: 10px;
}
input,
textarea {
  color: white;
}
input {
  border: 0;
  width: 80%;
  height: 5vh;
  margin-top: 3vh;
  border-radius: 10px;
  background-color: #191e2a;
  border-bottom: 1px #6a8ddd solid;
}
textarea {
  border: 0;
  width: 80%;
  height: 40vh;
  margin-top: 3vh;
  border-radius: 10px;
  background-color: #191e2a;
  border-bottom: 1px #6a8ddd solid;
}

.logo {
  width: 150px;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px;
    margin: -90px 0px 0px -198px;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-image: linear-gradient(to bottom, #585858 0%, #1b1b1b 51%);
  }
}
